* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(43, 43, 43);
    color: whitesmoke;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
}


/* Main homework panel */

main {
    width: 800px;
    min-height: 600px;

    background-color: rgb(43, 43, 43);

    padding: 35px;

    border-radius: 15px;

    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}


/* Header inside the panel */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
    
}


/* Add button */

#addHomeworkBtn {
    width: 45px;
    height: 45px;

    border: none;
    border-radius: 50%;

    background-color: #2196f3;
    color: #1A1A1A;

    font-size: 28px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#addHomeworkBtn:hover {
    background-color: skyblue;
}


/* Homework list */

#homeworkContainer {
    display: flex;
    flex-direction: column;

    gap: 15px;
}


/* Empty message */

#emptyMessage {
    text-align: center;

    margin-top: 100px;

    color: lightgray;
    font-weight: bold;
}


/* Individual homework cards */

.homework-card {
    background-color: #1A1A1A;

    padding: 22px;

    border-radius: 10px;

    border: 1px solid rgb(65, 65, 65);

    cursor: pointer;

    transition: 0.2s;
}

.homework-card:hover {
    border-color: #2196f3;
    transform: translateY(-2px);
}


/* Subject */

.homework-card h3 {
    margin-bottom: 8px;

    color: whitesmoke;
}


/* Homework title / description */

.homework-card p {
    color: lightgray;

    margin-bottom: 8px;
}


/* Due date */

.homework-card small {
    color: #aaa;
}

#addHomeworkForm{
    display:none;
    background-color: #1A1A1A;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 25px;
}

#addHomeworkForm h2 {
    margin-bottom: 25px;
}

#homeworkForm{
    display:flex;
    flex-direction:column;
    gap:8px;
}

#homeworkForm label{
    font-weight:bold;
    font-size:15px;
    margin-top:5px;
    margin-bottom:3px;
}

#homeworkForm input,
#homeworkForm textarea{
    width:100%;
    padding:15px;
    margin-bottom:12px;
    font-size:16px;
    border:1px solid rgb(80,79,79);
    border-radius:8px;
    background-color: #2b2b2b;
    color:white;
}

#homeworkForm textarea{
    min-height:120px;
    resize:vertical;

}

#homeworkForm input:focus,
#homeworkForm textarea:focus{
    outline:none;
    border-color:#2196f3;
}

.form-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.form-buttons button {
    padding: 13px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.form-buttons button[type="submit"] {
    background-color: #2196f3;
    color: #1A1A1A;
}

.form-buttons button[type="submit"]:hover {
    background-color: skyblue;
}

#cancelBtn {
    background-color: #333;
    color: whitesmoke;
    border: 1px solid rgb(80, 79, 79);
}

#cancelBtn:hover {
    background-color: #444;
}